<form action="/todos/home" method="post" accept-charset="utf-8">
  <input type="text" name="name" value="">
  <input type="text" name="password" value="">
  <button type="submit ">submit</button>
</form>
