<h1>Sign up</h1>
<p>{{message}}</p>
<form method="post" action="/">
  <label class="form-block">
    <input type="text" name="username" placeholder="Pick a username" />
  </label>

  <label class="form-block">
    <input type="password" name="password" placeholder="Choose a password" />
  </label>

  <label class="form-block">
    <input type="password" name="password_confirmation" placeholder="Confirm your password" />
  </label>

  <button>Sign up</button>
</form>
